.header{
  background-image: url("https://media.istockphoto.com/photos/hot-espresso-and-coffee-bean-on-white-table-with-softfocus-and-over-picture-id1159612485?k=20&m=1159612485&s=612x612&w=0&h=NhjtqwIEEfK20C8WjN9s8AiLvKJDvWnZ5_ob0pPaglk=");background-size:100%;position:relative;bottom:90px;right:10px;width:1352px;height:340px;outline:15px solid black;background-repeat:no-repeat;background-position:0px -120px;opacity:70%
}
.header-logo h3 {
  color:#213557;text-align:center;position:relative;top:60px;font-size:90px;font-family:'Times New Roman', Times, serif;letter-spacing:5px
}
.header-logo p{
color:#213557;text-align:center;font-size:70px;font-family: 'Varela Round', sans-serif;position:relative;bottom:40px;
}
.Description h1 {text-align:center;font-family:'Times New Roman', Times, serif;position:relative;bottom:60px;color:#2b2b2b;font-size:50px;padding:50px;
}
body {
background-color:rgb(226, 223, 223);height:100em
}

.Gallery h4{
text-align:center;font-size:50px;color:#2b2b2b;font-family:'Times New Roman', Times, serif;text-decoration:underline;position:relative;
}

.Martabak img{height:200px;width:250px;float:left;position:relative;left:15px;outline:5px solid #152238;
}
.Bakso img{ height:200px;width:250px;;float:left;position:relative;left:28px;outline:5px solid #152238;
}
.Cakwe img {
height:200px;width:250px;float:left;position:relative;left:41px;outline:5px solid #152238;
}
.Cireng img {
height:200px;width:250px;;float:left;position:relative;left:54px;outline:5px solid #152238;
}
.Pisgor img {
height:200px;width:250px; outline:5px solid #152238;position:relative;left:67px;
}
.button a {
  text-decoration:underline;color:#2b2b2b;font-size:20px;position:relative;top:370px;left:595px;font-family: 'Times New Roman', Times, serif;letter-spacing:2px
}
.Images {
  position:relative;top:100px
}
.Gallery hr{
  color:#2b2b2b;
}



